<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Choose the best restaurant for you!">
        <meta name="theme-color" content="#E88F2A"/>
            
        <link rel="apple-touch-icon" href="/icons/maskable_icon_x192.png">
        <link rel="icon" href="./favicon.png">
        <link rel="manifest" href="./app.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Rampart+One&display=swap" rel="stylesheet">		

        <title>Restaurant Catalogue | By Dapa</title>
    </head>
    <body>
        <div class="skip-to-content"></div>
        <nav-bar></nav-bar>
		<main id="mainContent" tabindex="0"></main>
        <popup-element></popup-element>
        <footer-content></footer-content>
	</body> 
</html>
