<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GoResto | By Dapa</title>
	</head>
	<body>
		<a href="#mainContent" class="skip-to-content">Skip To Content</a>
		<nav>
			<nav-bar></nav-bar>
		</nav>
		<header>
			<header-content></header-content>
		</header>
		<main id="mainContent">
			<explore-restaurant></explore-restaurant>
			<our-services></our-services>
			<trending-today></trending-today>
		</main>
		<footer>
			<footer-content></footer-content>
			=
		</footer>
	</body>
</html>
