@import 'base';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

ul,
ol {
	list-style: none;
}

p {
	font-size: 0.9rem;
	line-height: 1.5rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-family: 'Rampart One';
	font-size: 2.5rem;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 3rem;
}

.skip-to-content {
	position: absolute;
	background-color: $primaryColor;
	color: white;
	left: 10px;
	top: -100px;
	z-index: 10;
	padding: 1rem;
	transition: all 0.3s;
}
.skip-to-content:focus {
	top: 0;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.margin-section {
	margin-bottom: 4rem;
}

.margin-bottom {
	margin-bottom: 1rem;
}

.logo {
	font-weight: 700;
	font-size: 1.5rem;
	color: white;
	span {
		color: $primaryColor;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	& > h2,
	& > p {
		text-align: center;
	}

	& > p {
		max-width: 768px;
	}
}

.switch-lang {
	transform: translateX(-50%);
}

.overflow-hidden {
	overflow: hidden;
}

.hidden {
    display: none !important
}

.loader {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid $primaryColor;
    animation: spinner 1.2s linear infinite;
    border-color: transparent $primaryColor transparent $primaryColor
}

@media screen and (min-width: 768px) {
	p {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	h1 {
		font-size: 6rem;
	}
	h2 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.margin-section {
		margin-bottom: 6rem;
	}
}

@media screen and (min-width: 1024px) {
	h2 {
		font-size: 3.5rem;
	}
	.margin-section {
		margin-bottom: 7rem;
	}
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
