@import 'base';

explore-restaurant {
	display: block;
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		.section-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 1rem;
			& > h2,
			& > p {
				text-align: center;
			}

			& > p {
				max-width: 768px;
			}
		}
	}
}
