@import 'base';

nav-bar {
	display: grid;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: stretch;
	padding: 0.8rem 1rem;

	.navigates {
		width: fit-content;
		justify-self: start;
		.hamburger {
			background-color: transparent;
			border: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 54px;
			height: 44px;
			padding: 7px;
			span {
				display: block;
				width: 100%;
				height: 3px;
				background-color: $primaryColor;
			}
		}
	}
	.logo {
		width: fit-content;
		justify-self: center;
		font-weight: 700;
		font-size: larger;
		color: white;
		span {
			color: $primaryColor;
		}
	}
	.lang {
		width: fit-content;
		justify-self: end;
	}
}
