not-found {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    p {
        text-align: center;
    }
    .not-found-button {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 0.5rem;
    }
}