@import 'base';

our-services {
	position: relative;
	.opacity {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.container {
		position: relative;
		padding-top: 4rem;
		padding-bottom: 4rem;
		color: $primaryColor;
		margin: auto;
		max-width: 1440px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.section-header {
			h2 {
				margin-bottom: 1.5rem;
			}
		}
		.features {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2rem;
			.feature-item {
				width: 100%;
				max-width: 300px;
				padding: 1rem;
				border: 2px solid $primaryColor;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				h5 {
					font-size: 1.5rem;
					text-transform: uppercase;
				}
			}
		}
	}
}
