@import 'base';

explore-restaurant {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > h2,
		& > p {
			text-align: center;
		}

		restaurant-list {
			width: 100%;
			display: grid;
			justify-content: center;
			gap: 1.5rem;
			grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
			restaurant-item {
				display: flex;
				position: relative;
				flex-direction: column;
				border-radius: 25px;
				box-shadow: 0 0 10px -5px black;
				.restaurant-cover {
					display: flex;
					position: relative;
					justify-content: center;
					width: 100%;
					aspect-ratio: 4/3;
					border-radius: 25px;
					overflow: hidden;
					border-bottom: 5px solid $primaryColor;

					img {
						height: 100%;
					}
				}
				.restaurant-detail {
					position: relative;
					padding: 1rem;
					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						margin-top: -1rem;
						left: 50%;
						transform: translateX(-50%);
						width: 0;
						height: 0;
						border: 10px solid transparent;
						border-top: 10px solid $primaryColor;
					}
					h4 {
						font-weight: 400;
						span {
							display: inline-block;
							color: $primaryColor;
							margin-right: 5px;
							font-weight: 600;
						}
					}
					p {
						span {
							color: $primaryColor;
						}
					}
				}
				.restaurant-city {
					background-color: $primaryColor;
					color: white;
					position: absolute;
					top: 0px;
					left: 25px;
					padding: 0.4rem 0.6rem;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 5px;
					transform: translateY(-8px);
					&::after {
						content: '';
						position: absolute;
						left: -6px;
						top: 0.5px;
						height: 7.5px;
						width: 5.5px;
						background-color: darken($primaryColor, 25);
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
					}
					&::before {
						content: '';
						position: absolute;
						left: -6px;
						top: 0px;
						height: 8px;
						width: 6px;
						background-color: $primaryColor;
						border-top-left-radius: 50%;
					}
				}
			}
		}
	}
}
