social-media {
	display: flex;
	gap: 0.6rem;
	a {
		display: block;
		&:hover {
			svg {
				width: 44px;
				height: 44px;
				path {
					fill: #898989;
					transition: all 0.3s;
				}
			}
		}
	}
}
