@import '@styles/base';
@import '@styles/component';

:host {
    h1 {
        font-size: 1.5rem;
        color: $primaryColor;
        text-align: center;
    }
    .address-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        iframe {
            width: 100%;
            max-width: 720px;
        }
    }
}